$active:#ff6838;
$default:#31352B;
$title:#363853;
$globai:#F9FAFF;
$acccent:#FFFFFF;
$shadow :#ECECEC;
$gray:#c2c2c2;
$silver:#F9FAFF;


%quicksand-700 {
	font-family: 'Rubik', sans-serif;
	font-weight: 700;
}

%quicksand-300 {
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
}

%quicksand-500 {
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
}

%quicksand-400 {
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
}