$orange:#ff6838;
$default:#31352B;
$title:#363853;
$white:#FFFFFF;
$shadow :#ECECEC;
$gray:#c2c2c2;
$silver:#F9FAFF;



%position {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

%background {
	background-position: top center;
	background-repeat: no-repeat;
	block-size: center;

}