.breadcrumb {
	max-width: 100%;
	background-color: rgba(255, 122, 80, 0.1);
	margin-bottom: 60px;

	&__list {
		display: flex;
		justify-content: start;
		padding: 24px 0;
	}

	&__item {
		font-size: 14px;
		line-height: 1.2;
		// padding-right: 16px;
		position: relative;

		&::after {
			content: "";
			position: absolute;
			background-image: url('../images/chevron.svg');
			background-repeat: no-repeat;
			width: 7px;
			height: 10px;
			top: 3px;
			left: -10px;
		}

		&:not(:last-child) {
			margin-right: 16px;

			&::after {
				display: none;
			}
		}

	}
}