.catalog {
	&__top {
		display: flex;
		justify-content: space-between;
		margin-bottom: 60px;
	}

	&__title {
		margin: 0;
	}

	.jq-selectbox__select {
		height: 47px;
		padding: 15px 35px 15px 15px;
		border-radius: 3px;
		font-family: 'Rubik', sans-serif;
		font-style: normal;
		font-weight: 400;
		color: $default;
		text-shadow: none;
		box-shadow: none;
		background-color: transparent;
		border: 1px solid $gray;
		font-size: 14px;
		line-height: 1.2;
		transition: border 0.5s ease-in-out, color 0.5s, background-color 0.5s, opacity 0.7s ease;

		&:not(:last-child) {
			margin-right: 15px;
		}

		&:hover {
			border: 1px solid $orange;
			color: $orange;
			fill: $orange;
			// background-image: url('../images/catalog-orang.svg');
			// background-repeat: no-repeat;
			// top: 20px;
			// left: 116px;
		}
	}

	.jq-selectbox__trigger {
		border-left: none;
	}

	.jq-selectbox__trigger-arrow {
		position: absolute;
		top: 20px;
		right: 6px;
		width: 12px;
		height: 7px;
		background-image: url('../images/catalog.svg');
		background-repeat: no-repeat;
		border: none;


	}


	.jq-selectbox li:hover,
	.jq-selectbox li.selected {
		background-color: $btn;
		color: $orange;
	}


	&__inner {
		display: flex;
		justify-content: space-between;
		margin-bottom: 60px;

	}

	&__popular {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 10px;
		margin-bottom: 60px;
		max-width: 870px;
		max-height: 923px;
		width: 100%;
		height: 100%;

	}

	&__content {
		justify-content: column;
	}

	&__wrapper {
		margin-right: 30px;
	}
}

.filter-categories {
	&__list {
		padding: 15px 0 25px 15px;
	}

	&__item {
		color: $default;
		font-size: 18px;
		line-height: 1.3;

		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}
}

.filter-price {
	&__box {
		@extend %position;
		padding: 26px 15px 25px 15px;
	}

	&__span {
		font-size: 16px;
		line-height: 1.2;
		color: $gray;
	}

	&__btn {
		padding: 12px 14px;
		background-color: $btn;
		border-radius: 3px;
		height: 40px;
		width: 70px;
		border: none;


		&::placeholder {
			font-size: 16px;
			line-height: 1;
			align-items: center;
			letter-spacing: 0.03em;
			color: $default;
		}

		&:focus {
			border: 1px solid $orange;
			border-radius: 3px;
		}
	}

	&__scale {
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 10px;

		.irs--flat .irs-line {
			top: 7px;
			height: 2px;
			background-color: $gray;
			border-radius: 0;
		}

		.irs--flat .irs-handle {
			top: -2px;
			width: 19px;
			height: 19px;
			border-radius: 50px;
			background-color: $orange;
		}
	}


	.irs--flat .irs-handle>i:first-child {
		display: none;
	}

	.irs--flat .irs-bar {
		top: 7px;
		height: 2px;
		background-color: $orange;
	}

	.irs-from,
	.irs-to,
	.irs-single {
		display: none;
	}
}


.filter-offers {
	&__box {
		padding: 26px 0 25px 15px;
	}

	&__label {
		display: flex;
		flex-direction: column;


		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}

	&__input {
		display: none;


		&:checked+.filter-offers__checkbox {
			background-image: url('../images/offers.svg');
			background-repeat: no-repeat;
			background-position: center;
			width: 24px;
			height: 24px;
		}
	}

	&__checkbox {
		background-color: $btn;
		border-radius: 3px;
		width: 24px;
		height: 24px;
		position: absolute;
		cursor: pointer;
		transition: color 0.5s, background-color 0.5s, opacity 0.7s ease;

		&:hover,
		&:focus {
			border: 1px solid $orange;
		}

		&:active {
			border: 1px solid $title;
		}
	}

	&__text {
		font-size: 18px;
		line-height: 1.2;
		padding-left: 35px;
		cursor: pointer;
		transition: color 0.5s, background-color 0.5s, opacity 0.7s ease;

		&:hover {
			color: $orange;
		}
	}
}

.pagination {
	display: flex;
	// flex-direction: row;
	justify-content: center;

	&-list {
		display: flex;
	}

	&-arrows {
		background-repeat: no-repeat;
		background-position: center;
		width: 11px;
		height: 18px;

		&--prev {
			background-image: url('../images/paginationprev.svg');
		}

		&--next {
			background-image: url('../images/paginationnext.svg');
		}
	}

	&-item {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $btn;
		border-radius: 3px;
		width: 48px;
		height: 48px;
		margin-right: 6px;
		cursor: pointer;
		transition: box-shadow 0.5s ease-in-out, color 0.5s, background-color 0.5s;

		&:hover {
			background-color: $orange;
			color: $white;
		}

		&:focus {
			background-color: $btn;
			box-shadow: 0 0 0 2px #FF6838;
			border-radius: 5px;
			color: $title;

			&:active {
				box-shadow: inset 0 -1px 4px 2px rgba(0, 0, 0, 0.15);
			}

			&--active {
				border: 1px solid #363853;
			}
		}

		&-link {
			font-size: 18px;
			line-height: 1.0;
			color: $title;
		}
	}
}