.logo {
	&__img {
		object-fit: contain;
	}

	transition: box-shadow 0.7s ease-in-out,
	opacity 0.5s ease;

	&:hover {
		opacity: 0.7;
	}

	&:focus {
		@extend %box-shadow-07;
		border-radius: 5px;
	}

	&:active {
		opacity: 0.5;
	}
}