.menu__list {
	margin-right: 52px;
	display: flex;
	align-items: center;


	&__item {
		&:not(:last-child) {
			margin-right: 45px;
		}
	}

	&__link {
		font-size: 18px;
		line-height: 2.1;
		color: $default;

		&--home {
			color: $orange;
		}
	}
}