.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 60px 0;

	&__wrapper {
		display: flex;
		justify-content: space-between;
	}

	&__list {
		margin-right: 52px;
		display: flex;
		align-items: center;
	}

	&__item {
		&:not(:last-child) {
			margin-right: 45px;
		}
	}

	&__link {
		font-size: 18px;
		line-height: 2.1;
		color: $default;

		&.active {
			color: $orange;
		}
	}
}