.mobile-app {
	padding: 130px 0 120px;

	&__inner {
		@extend %position;
	}

	&__content {
		max-width: 540px;
		display: block;
		flex-direction: column;
	}

	&__title {
		margin-bottom: 45px;
	}

	&__text {
		margin-bottom: 30px;
		opacity: 0.9;
		@include line-clamp(20, 1.5, 4);
	}

	&__list {
		display: flex;
	}

	&__link {
		&:not(:last-child) {
			margin-right: 30px;
		}
	}

	&__image {
		width: 570px;
		height: 380px;
		@extend %background;
	}
}