.mobile-app {
	padding: 130px 0 120px;

	&__inner {
		@extend %position;

		@include max-width($tablet) {
			width: 100%;
		}
	}

	&__content {
		max-width: 540px;
		display: block;
		flex-direction: column;
	}

	&__title {
		margin-bottom: 45px;

		@include max-width($sm) {
			margin-bottom: 30px;
		}
	}

	&__text {
		margin-bottom: 30px;
		opacity: 0.9;
		@include line-clamp(20, 1.5, 4);

		@include max-width($sm) {
			font-size: 14px;
			margin-bottom: 15px;
		}
	}

	&__list {
		display: flex;
	}

	&__link {
		&:not(:last-child) {
			margin-right: 30px;
		}
	}

	&__image {
		width: 570px;
		height: 380px;
		@extend %background;

		@include max-width($tablet) {
			display: none;
		}
	}
}