.restaurants {
	&__inner {
		text-align: center;
		max-width: 1170px;
		width: 100%;
	}

	&__title {
		margin: 0 auto;
		margin-bottom: 45px;
		justify-content: center;
	}

	&__items {
		display: grid;
		// grid-template-columns: repeat(3, 1fr);
		// grid-gap: 22px;

		// @include max-width($tablet) {
		// 	display: block;
		// 	justify-content: space-between;
		// }


		.slick-dots {
			@extend %position-center;

			@include max-width($tablet) {
				padding-top: 30px;
			}

			li {
				margin: 0 6px;

				button {
					padding: 0;
					font-size: 0;
					line-height: 0;
					width: 16px;
					height: 16px;
					border-radius: 50%;
					background-color: $gray;
					border: 3px solid transparent;
					position: relative;
					border: 1px solid transparent;
					transition: box-shadow 0.5s ease-in-out, color 0.5s, background-color 0.5s, opacity 0.7s ease;

					&:hover {
						@extend %box-shadow-orange;
						@extend %rgba-01;
						border-radius: 50%;
					}

					&:focus {
						@extend %box-shadow-orange;
						background-color: $gray;
					}
				}

				&.slick-active {
					button {
						background-color: $orange;
					}
				}
			}
		}
	}
}