.review-slider {
	&__inner {
		max-width: 990px;
		margin: 0 auto;

		.slick-arrow {
			position: absolute;
			z-index: 10;
			border: 3px solid transparent;
			transition: box-shadow 0.5s ease-in-out, color 0.5s, background-color 0.5s, opacity 0.7s ease;

			svg {
				&:hover {
					@extend %rgba-01;
					@extend %box-shadow-07;
					border-radius: 50%;

					path {
						fill: $orange;
					}
				}

				&:focus {
					background-color: rgba(255, 255, 255, 0.01);
					border: 3px solid #C2C2C2;
					box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);

					path {
						fill: $gray;
					}
				}

				&:active {
					fill: $orange;
				}
			}
		}
	}

	.slick-prev {
		left: 375px;
		top: 337px;
		position: absolute;
	}

	.slick-next {
		right: 373px;
		bottom: -25px;
		position: absolute;
	}

	.slick-dots {
		position: relative;
		display: flex;
		justify-content: center;

		li {
			margin: 0 6px;

			button {
				padding: 0;
				font-size: 0;
				line-height: 0;
				width: 16px;
				height: 16px;
				border-radius: 50%;
				background-color: #C2C2C2;
				border: 3px solid transparent;
				position: relative;
				border: 1px solid transparent;
				transition: box-shadow 0.5s ease-in-out, color 0.5s, background-color 0.5s, opacity 0.7s ease;

				&:hover {
					box-shadow: 0 0 0 1px $orange;

					background-color: rgba(255, 122, 80, 0.1);
					border-radius: 50%;
				}

				&:focus {
					box-shadow: 0 0 0 1px $orange;
					background-color: $gray;
				}
			}

			&.slick-active {
				button {
					background-color: $orange;
				}
			}
		}
	}

	&__wrapper {
		@extend %position;
		margin-bottom: 40px;
	}

	&__title {
		margin-bottom: 45px;
		text-align: center;
	}

	&__img {
		width: 300px;
		height: 300px;
		padding-right: 40px;
		border-radius: 50%;
		@extend %object;
	}

	&__blockquote {
		position: relative;
		max-width: 570px;
		display: block;
		font-weight: 400;
		font-style: italic;
		color: $default;
		word-wrap: break-word;
		margin-right: 40px;
		// @include line-clamp(20, 1.5, 8);

		&::before {
			top: -6px;
			left: -38px;
			@extend %quote;
			background-image: url('../images/review-slider/quote.svg');
		}

		&::after {
			bottom: 90px;
			right: -38px;
			@extend %quote;
			background-image: url('../images/review-slider/quote.svg');
			transform: rotate(190deg);
			transform: scale(-1, 1);
		}
	}

	&__name {
		display: block;
		font-weight: 500;
		line-height: 1.3;
		color: $orange;
		padding-top: 29px;
		margin-bottom: 15px;
	}

	&__text {
		display: block;
		max-width: 570px;
		font-size: 14px;
		line-height: 1.3;
		color: $default;
	}
}