.social {
	display: flex;
	transition: box-shadow 0.7s ease-in-out, color 0.7s, background-color 0.7s, opacity 0.7s ease;

	&__item {
		&:not(:last-child) {
			margin-right: 13px;
		}
	}

	&__link {
		width: 39px;
		display: block;
		height: 39px;

		svg {
			&:hover {
				circle {
					fill: $orange;
				}

				path {
					fill: $white;
				}
			}
		}

		&:focus {
			@extend %box-shadow-07;
			border-radius: 50%;

			svg {
				circle {
					fill: rgba(255, 122, 80, 0.1);
				}
			}

			path {
				fill: $default;
			}
		}

		&:active {
			svg {
				circle {
					fill: rgba(255, 122, 80, 0.1);
				}

				path {
					fill: $orange;
				}
			}
		}
	}
}