.user {
	display: flex;

	&__cart {
		width: 30px;
		height: 30px;

		path {
			stroke: #000;
		}
	}

	&__search {
		width: 30px;
		height: 30px;

		path,
		ellipse {
			stroke: red;
		}
	}

	// background-image: url('../images/sprite.svg#buy-btn');

	&__item {
		&:not(:last-child) {
			margin-right: 10px;
		}
	}

	&__btn {
		position: relative;
		display: flex;
		justify-content: center;
		padding: 11px;
		border-radius: 6px;
		background-color: $silver;
		background-repeat: no-repeat;
		transition: box-shadow 0.5s ease-in-out, background-color 0.8s ease, color 0.8s ease;

		&:hover {
			background-color: $orange;
			border-radius: 5px;

		}

		&:focus {
			@extend %rgba-01;
			@extend %box-shadow-07;
			border-radius: 5px;
			// background-color: rgba(255, 122, 80, 0.1);
			// box-shadow: 0 0 0 2px rgba(255, 104, 56, 0.7);

		}

		&:active {
			border-radius: none;
			outline: none;
		}
	}

	&__num {
		position: absolute;
		align-items: center;
		padding: 2px 4px;
		font-size: 10px;
		line-height: 1;
		top: 4px;
		left: 23px;
		color: $white;
		border-radius: 50%;
		background-color: $orange;

		&:hover {
			background-color: $white;
			color: $orange;
		}
	}

	&:hover {
		.user__num {
			background-color: $white;
			color: $orange;
		}
	}
}