.user {
	display: flex;

	&__img {
		fill: $silver;
		stroke: $title;
		transition: box-shadow 0.7s ease-in-out, color 0.7s, background-color 0.7s, opacity 0.7s ease;

		&--search {
			width: 21px;
			height: 22px;
		}

		&--cart {
			width: 24px;
			height: 20px;
		}
	}

	&__item {
		&:not(:last-child) {
			margin-right: 11px;
		}
		&.search{
			position: relative;

			.form__search{
				position: absolute;
				left: -204px;
				top: 0px;
				visibility: hidden
			} 
		}
	}

	&__btn {
		@extend %position-center;
		position: relative;
		padding: 11px;
		border-radius: 6px;
		background-color: $silver;
		transition: box-shadow 0.5s ease-in-out, color 0.5s, background-color 0.5s, opacity 0.7s ease;

		&:hover {
			background-color: $orange;

			.user__img {
				fill: $orange;
				stroke: $white;
			}

			.user__num {
				background-color: $white;
				color: $orange;
			}
		}

		&:focus {
			background-color: $pink;
			@extend %box-shadow-07;
			border-radius: 5px;

			.user__img {
				fill: $pink;
				stroke: #000;
			}
		}

		&:active {
			box-shadow: none;
		}

		.user__num {
			position: absolute;
			align-items: center;
			padding: 2px 4px;
			font-size: 10px;
			line-height: 1;
			top: 6px;
			left: 25px;
			color: $white;
			border-radius: 50px;
			background-color: $orange;

			&:hover {
				background-color: $white;
				color: $orange;
			}
		}
	}
}