<footer class="footer">
	<div class="container">
		<div class="footer__inner">
			<div class="footer__content">
				<a class="logo footer__logo" href="#">
					<img class="logo__img" src="images/logo.svg" width="200" height="40" alt="Логотип">
				</a>

				<form class="form">

					<label for="email" aria-label="Ваш email"></label>

					<input class="form__input" type="email" name="usermail" id="email" placeholder="Ваш email" required>
					<button class="form__button button" type="submit">

						<svg class="form__img">
							<use xlink:href="images/sprite.svg#footer-teleg"></use>
						</svg>

						Подписаться
					</button>
				</form>
			</div>

			<ul class="footer__items">
				<li class="footer__list">
					<a class="footer__link  animation-text" href="#">Как это работает</a>
				</li>
				<li class="footer__list">
					<a class="footer__link animation-text" href="#">Продукты </a>
				</li>
				<li class="footer__list">
					<a class="footer__link animation-text" href="#">Блюда</a>
				</li>
				<li class="footer__list">
					<a class="footer__link animation-text" href="#">Меню</a>
				</li>
				<li class="footer__list">
					<a class="footer__link animation-text" href="#">О нас</a>
				</li>
				<li class="footer__list">
					<a class="footer__link animation-text" href="#">Новости</a>
				</li>
				<li class="footer__list">
					<a class="footer__link animation-text" href="#">Партнеры</a>
				</li>
				<li class="footer__list">
					<a class="footer__link animation-text" href="#">ЧаВо</a>
				</li>
				<li class="footer__list">
					<a class="footer__link animation-text" href="#">Скачать приложение</a>
				</li>
				<li class="footer__list">
					<a class="footer__link animation-text" href="#">Блог</a>
				</li>
				<li class="footer__list">
					<a class="footer__link animation-text " href="#">Что нового?</a>
				</li>
				<li class="footer__list">
					<a class="footer__link animation-text" href="#">Карта сайта</a>
				</li>
			</ul>
			<div class="footer__contacts">

				<ul class="contacts">
					<li class="contacts__item">
						<a class="contacts__link contacts__link--location animation-text" href="#">ул. Смирнова 2/3</a>
					</li>
					<li class="contacts__item">
						<a class="contacts__link contacts__link--tel animation-text" href="#">79068057043</a>
					</li>
					<li class="contacts__item">
						<a class="contacts__link contacts__link--message animation-text" href="#">support@sfood.com</a>
					</li>
				</ul>

				<ul class="social">
					<li class="social__item">
						<a class="social__link" target="_blank" href="#">
							<svg class="social__img social__img--facebook ">
								<use xlink:href="images/sprite.svg#ic-facebook"></use>
							</svg>
							<span class="sr-only">Перейти в фейсбук</span>
						</a>
					</li>
					<li class="social__item">
						<a class="social__link" target="_blank" href="#">
							<svg class="social__img social__img--twitter">
								<use xlink:href="images/sprite.svg#ic-twitter"></use>
							</svg>
							<span class="sr-only">Перейти в твиттер</span>
						</a>
					</li>
					<li class="social__item">
						<a class="social__link social__link--icon" target="_blank" href="#">
							<svg class="social__img social__img--instagram">
								<use xlink:href="images/sprite.svg#ic-instagram"></use>
							</svg>
							<span class="sr-only">Перейти в инстаграм</span>
						</a>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer__copy">
		<p>
			© 2021 Simple Food
		</p>
	</div>
</footer>