<header class="header">
	<div class="container">
		<nav class="header__menu">
			<a class="logo" href="#">
				<img class="logo__img" src="images/logo.svg" width="202" height="40" alt="Логотип">
			</a>
			
			<button class="menu__burger" type="button">
				<span class="menu__btn"></span>
				<span class="sr-only">Открыть меню</span>
			</button>


			<div class="header__wrapper">

				<ul class="menu">
					<li class="menu__item">
						<a class="menu__link menu__link--home animation-text" href="#">
							Главная
						</a>
					</li>
					<li class="menu__item">
						<a class="menu__link animation-text" href="http://localhost:3000/index2.html#">
							Блюда
						</a>
					</li>
					<li class="menu__item">
						<a class="menu__link animation-text" href="#">
							Контакты
						</a>
					</li>
				</ul>
				<ul class="user">
					<li class="user__item search">
						<form class="form form__search" id="search__container">
							<label for="search" aria-label="Поиск"></label>
							<input class="form__input" type="search" name="search" id="search" placeholder="Поиск..." required>
						</form>
						<button class="user__btn" type="button">
							<svg class="user__img user__img--search">
								<use xlink:href="images/sprite.svg#search"></use>
							</svg>
							<span class="sr-only">поиск товара</span>
						</button>
					</li>
					<li class="user__item">
						<button class="user__btn" type="button">
							<svg class="user__img user__img--cart">
								<use xlink:href="images/sprite.svg#cart"></use>
							</svg>
							<span class="user__num">4</span>
							<span class="sr-only">добавить в корзину </span>
						</button>
					</li>
				</ul>
			</div>

		</nav>
	</div>
</header>