<section class="mobile-app">
	<div class="container">
		<div class="mobile-app__inner">
			<div class="mobile-app__content">
				<h2 class="mobile-app__title title">Скачайте мобильное приложение</h2>
				<div class="mobile-app__text">
					Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и заказывайте еду в любом
					удобном месте.
				</div>
				<ul class="mobile-app__list">
					<li class="mobile-app__link">
						<a class="mobile-app__play" href="#">
							<img class="mobile-app__store" src="images/mobile/mobile-store.jpg"
								alt="программа скачивания приложения App Stope">
						</a>
					</li>
					<li class="mobile-app__link">
						<a class="mobile-app__play" href="#">
							<img class="mobile-app__google" src="images/mobile/mobile-google.jpg"
								alt="программа скачивания приложения Google Play">
						</a>
					</li>
				</ul>
			</div>
			<div class="mobile-app__image">
				<img class="mobile-app__img" src="images/mobile/mobile.jpg" width="570" height="380"
					alt="Фото аппетиттной еды, и телефона с мобильным приложением">
			</div>
		</div>
	</div>
</section>