<section class="mobile-app">
	<div class="container">
		<div class="mobile-app__inner">
			<div class="mobile-app__content">
				<h2 class="mobile-app__title title">Скачайте мобильное приложение</h2>
				<div class="mobile-app__text">
					Рестораны, которые вы любите - в ваших руках. Устанавливайте приложение и заказывайте еду в любом
					удобном месте.
				</div>
				<ul class="mobile-app__list">
					<li class="mobile-app__link">
						<a class="mobile-app__play" href="#">
							<img class="mobile-app__img" src="images/mobile/mobile-store.jpg" width="120" height="40"
								alt=" скачать приложение в App Stope">
						</a>
					</li>
					<li class="mobile-app__link">
						<a class="mobile-app__play" href="#">
							<img class="mobile-app__img" src="images/mobile/mobile-google.jpg" width="135" height="40"
								alt="скачать приложение в Google Play">
						</a>
					</li>
				</ul>
			</div>
			<div class="mobile-app__image" style="background-image :url('images/mobile-app/mobile.png')" >
			</div>
		</div>
	</div>
</section>