<section class="popular section">
	<div class="container">
		<h2 class="popular__title title">Популярные категории</h2>
		<ul class="popular__filter " id="popular__filter">

			<li class="popular__item">
				<button class="popular__btn" data-filter="all" type="button">
					<svg class=" popular__svg active popular-btn__img">
						<use xlink:href="images/sprite.svg#burger-btn-burger"></use>
					</svg>
					Бургеры
				</button>
			</li>

			<li class="popular__item">
				<button class="popular__btn" data-filter=".pizza" type="button">
					<svg class="popular-btn__img">
						<use xlink:href="images/sprite.svg#burger-btn-pizza"></use>
					</svg>
					Пицца
				</button>
			</li>

			<li class="popular__item">
				<button class="popular__btn" data-filter=".sandwich" type="button">
					<svg class="popular-btn__img">
						<use xlink:href="images/sprite.svg#burger-btn-sandwich"></use>
					</svg>
					Сендвичи
				</button>
			</li>

			<li class="popular__item">
				<button class="popular__btn" data-filter=".asia" type="button">
					<svg class="popular-btn__img">
						<use xlink:href="images/sprite.svg#burger-btn-asia"></use>
					</svg>
					Азиатская кухня
				</button>
			</li>

			<li class="popular__item">
				<button class="popular__btn" data-filter=".dish" type="button">
					<svg class="popular-btn__img">
						<use xlink:href="images/sprite.svg#burger-btn-dish"></use>
					</svg>
					Cеты
				</button>
			</li>
		</ul>

		<ul class="popular__inner">
			<li class="popular__items mix pizza">
				<article class="product-card">
					<img class="product-card__img" src="images/popular/photo-1.svg" width="140" height="140"
					alt=" фото,чизбургер с листьями салата">
					<h3 class="product-card__text">Чизбургер с листьями салата</h3>
					<span class="product-card__price">160 pуб</span>
					<button class="button" type="button">В корзину</button>
				</article>
			</li>

			<li class="popular__items mix burger">
				<article class="product-card">
					<img class="product-card__img" src="images/popular/photo-2.svg" width="140" height="140"
						alt=" фото,бифбургер">
					<h3 class="product-card__text">Бифбургер</h3>
					<span class="product-card__price">190 pуб</span>
					<button class="button" type="button">В корзину</button>
				</article>
			</li>

			<li class="popular__items mix dish">
				<article class="product-card">
					<img class="product-card__img" src="images/popular/photo-3.svg" width="140" height="140"
						alt="фото,королевский чизбургер">
					<h3 class="product-card__text">Королевский чизбургер</h3>
					<span class="product-card__price">260 pуб</span>
					<button class="button" type="button">В корзину</button>
				</article>
			</li>

			<li class="popular__items mix asia">
				<article class="product-card">
					<img class="product-card__img" src="images/popular/photo-4.svg" width="140" height="140"
						alt="фото,черный гамбургер">
					<h3 class="product-card__text">Черный гамбургер</h3>
					<span class="product-card__price">199 pуб</span>
					<button class="button" type="button">В корзину</button>
				</article>
			</li>

			<li class="popular__items mix sandwich">
				<article class="product-card">
					<img class="product-card__img" src="images/popular/photo-5.svg" width="140" height="140"
						alt="фото,чикен бургер">
					<h3 class="product-card__text">Чикен бургер</h3>
					<span class="product-card__price">180 pуб</span>
					<button class="button" type="button">В корзину</button>
				</article>
			</li>

			<li class="popular__items mix sandwich">
				<article class="product-card">
					<img class="product-card__img" src="images/popular/photo-1.svg" width="140" height="140"
						alt="фото,чизбургер с листьями салата">
					<h3 class="product-card__text">Чизбургер с листьями салата</h3>
					<span class="product-card__price">160 pуб</span>
					<button class="button" type="button">В корзину</button>
				</article>
			</li>

			<li class="popular__items mix dish">
				<article class="product-card">
					<img class="product-card__img" src='images/popular/photo-2.svg' width="140" height="140"
						alt="фото,бифбургер">
					<h3 class="product-card__text">Бифбургер</h3>
					<span class="product-card__price">190 pуб</span>
					<button class="button" type="button">В корзину</button>
				</article>
			</li>

			<li class="popular__items mix asia">
				<article class="product-card">
					<img class="product-card__img" src="images/popular/photo-3.svg" width="140" height="140"
						alt="фото, королевский чизбургер">
					<h3 class="product-card__text">Королевский чизбургер</h3>
					<span class="product-card__price">260 pуб</span>
					<button class="button" type="button">В корзину</button>
				</article>
			</li>
			<li class="popular__items mix sandwich">
				<article class="product-card">
					<img class="product-card__img" src="images/popular/photo-4.svg" width="140" height="140"
						alt="фото,черный гамбургер">
					<h3 class="product-card__text">Черный гамбургер</h3>
					<span class="product-card__price">199 pуб</span>
					<button class="button" type="button">В корзину</button>
				</article>
			</li>

			<li class="popular__items mix burger">
				<article class="product-card">
					<img class="product-card__img" src="images/popular/photo-5.svg" width="140" height="140"
						alt="фото,чикен бургер">
					<h3 class="product-card__text">Чикен бургер</h3>
					<span class="product-card__price">180 pуб</span>
					<button class="button" type="button">В корзину</button>
				</article>
			</li>
		</ul>
		<button class="popular__info animation-text" type="button">Показать еще</button>
	</div>
</section>