<!-- <section class="restaurants section">
	<div class="container">
		<div class="restaurants__inner">
			<h2 class="restaurants__title title">Лучшие рестораны</h2>
			<ul class="restaurants__items">

				<li class="restaurants__item">
					<article class="product-item">
						<img class="product-item__img" src="images/top-restaurants/blaze-pizza.jpg" width="370" height="300"
							alt="Пицца Блейз">
						<div class="product-item__wrapper">
							<h3 class="product-item__name">Blaze Pizza</h3>
							<div class="product-item__info">
								<time class="product-item__time" datetime="11:00 - 22:00">11:00 - 22:00</time>
								<button class="product-item__button button" type="button">
									<span class="sr-only">подробнее о Blaze Pizza</span>
									<svg class="product-item__arrow">
										<use xlink:href="images/sprite.svg#restaurants-arrow"></use>
									</svg>
								</button>
							</div>
						</div>
					</article>
				</li>

				<li class="restaurants__item">
					<article class="product-item">
						<img class="product-item__img" src="images/top-restaurants/pizza-runcho.jpg" width="370" height="300"
							alt="Пицца Рунчо">
						<div class="product-item__wrapper">
							<h3 class="product-item__name">Pizza Runcho</h3>
							<div class="product-item__info">
								<time class="product-item__time" datetime="12:00 - 21:00">12:00 - 21:00</time>
								<button class="product-item__button button" button type="button">
									<span class="sr-only">подробнее о Pizza Runcho</span>
									<svg class="product-item__arrow">
										<use xlink:href="images/sprite.svg#restaurants-arrow"></use>
									</svg>
								</button>
							</div>
						</div>
					</article>

				</li>
				<li class="restaurant__item">
					<article class="product-item">
						<img class="product-item__img" src="images/top-restaurants/pizza-hut.jpg" width="370" height="300"
							alt="Пицца Хат">
						<div class="product-item__wrapper">
							<h3 class="product-item__name">Pizza Hut</h3>
							<div class="product-item__info">
								<time class="product-item__time" datetime="11:00 - 22:00">11:00 - 22:00</time>
								<button class="product-item__button button" type="button">
									<span class="sr-only">подробнее о Pizza Hut </span>
									<svg class="product-item__arrow">
										<use xlink:href="images/sprite.svg#restaurants-arrow"></use>
									</svg>
								</button>
							</div>
						</div>
					</article>

				</li>
				<li class="restaurant__item">
					<article class="product-item">
						<img class="product-item__img" src="images/top-restaurants/McDonald`s.jpg" width="370" height="300"
							alt="Макдональдс">
						<div class="product-item__wrapper">
							<h3 class="product-item__name">McDonalds</h3>
							<div class="product-item__info">
								<time class="product-item__time" datetime="06:00 - 23:00">06:00 - 23:00</time>
								<button class="product-item__button button" type="button">
									<span class="sr-only">подробнее о McDonald's </span>
									<svg class="product-item__arrow">
										<use xlink:href="images/sprite.svg#restaurants-arrow"></use>
									</svg>
								</button>
							</div>
						</div>
					</article>
				</li>

				<li class="restaurant__item">
					<article class="product-item">
						<img class="product-item__img" src="images/top-restaurants/KFC.jpg" width="370" height="300"
							alt="КФК">
						<div class="product-item__wrapper">
							<h3 class="product-item__name">KFC</h3>
							<div class="product-item__info">
								<time class="product-item__time" datetime="06:00 - 23:00">06:00 - 23:00</time>
								<button class="product-item__button button" type="button">
									<span class="sr-only">подробнее о KFC</span>
									<svg class="product-item__arrow">
										<use xlink:href="images/sprite.svg#restaurants-arrow"></use>
									</svg>
								</button>
							</div>
						</div>
					</article>
				</li>

				<li class="restaurant__item">
					<article class="product-item">
						<img class="product-item__img" src="images/top-restaurants/Star-Burgers.jpg" width="370" height="300"
							alt="Звездные бургеры">
						<div class="product-item__wrapper">
							<h3 class="product-item__name">Star Burgers</h3>
							<div class="product-item__info">
								<time class="product-item__time" datetime="09:00 - 21:00">09:00 - 21:00</time>
								<button class="product-item__button button" type="button">
									<span class="sr-only">подробнее о Star Burgers </span>
									<svg class="product-item__arrow">
										<use xlink:href="images/sprite.svg#restaurants-arrow"></use>
									</svg>
								</button>
							</div>
						</div>
					</article>
				</li>
			</ul>
		</div>
	</div>
</section> -->