<section class="catalog">
	<div class="container">
		<div class="catalog__top">
			<h2 class="catalog__title title">
				Каталог продуктов
			</h2>
			<div class="catalog__filter">
				<form class="catalog-form" action="#">

					<select class="catalog-choice" name="choice" id="choice1">

						<!-- <svg class="catalog-choice__catalog">
							<use xlink:href="images/sprite.svg#catalog.svg"></use>
						</svg> -->

						<option value="1">По названию</option>
						<option value="2">По названию</option>
						<option value="3">По названию</option>
						<option value="4">По названию</option>
						<option value="5">По названию</option>
						<option value="6">По названию</option>
						<option value="7">По названию</option>
						<option value="8">По названию</option>
						<option value="9">По названию</option>
					</select>

					<select class="catalog-choice" name="choice" id="choice2">
						<!-- <svg class="catalog-choice__catalog">
							<use xlink:href="images/sprite.svg#catalog.svg"></use>
						</svg> -->
						<option value="1">по 12</option>
						<option value="2">по 6</option>
						<option value="3">по 4</option>
					</select>
				</form>
			</div>
		</div>

		<div class="catalog__inner">
			<div class="catalog__wrapper">

				<div class="filter-categories filter-items">
					<h3 class="filter-title">Категории</h3>
					<ul class="filter-categories__list">

						<li class="filter-categories__item">
							<a class="filter-categories__link animation-text" href="#">Бургеры</a>
						</li>
						<li class="filter-categories__item">
							<a class="filter-categories__link animation-text" href="#">Пицца</a>
						</li>
						<li class="filter-categories__item">
							<a class="filter-categories__link animation-text" href="#">Сендвичи</a>
						</li>
						<li class="filter-categories__item">
							<a class="filter-categories__link animation-text" href="#">Азиатская кухня</a>
						</li>
						<li class="filter-categories__item">
							<a class="filter-categories__link animation-text" href="#">Сеты</a>
						</li>
						<li class="filter-categories__item">
							<a class="filter-categories__link animation-text" href="#">Европейская кухня</a>
						</li>
						<li class="filter-categories__item">
							<a class="filter-categories__link animation-text" href="#">Напитки</a>
						</li>
						<li class="filter-categories__item">
							<a class="filter-categories__link animation-text" href="#">Алкоголь</a>
						</li>
					</ul>
				</div>

				<div class="filter-offers filter-items">
					<h3 class="filter-title">Предложения</h3>
					<div class="filter-offers__box">

						<form class="filter-offers__form" action="#">

							<label class="filter-offers__label">
								<input class="filter-offers__input" type="checkbox" name="checkbox" id="checkbox1"
									placeholder="#" required>
								<span class="filter-offers__checkbox"></span>
								<span class="filter-offers__text">Со скидкой </span>
							</label>

							<label class="filter-offers__label">
								<input class="filter-offers__input" type="checkbox" name="checkbox" id="checkbox2"
									placeholder="#" required>
								<span class="filter-offers__checkbox"></span>
								<span class="filter-offers__text">Новинка</span>
							</label>

							<label class="filter-offers__label">
								<input class="filter-offers__input" type="checkbox" name="checkbox" id="checkbox3"
									placeholder="#" required>
								<span class="filter-offers__checkbox"></span>
								<span class="filter-offers__text">Хит</span>
							</label>
						</form>
					</div>
				</div>


				<div class="filter-price filter-items">
					<h3 class="filter-title">Цена</h3>

					<form class="filter-price__form" action="#">
						<div class="filter-price__box">

							<span class="filter-price__span">от</span>
							<input class="filter-price__btn filter-price__form" type="val" name="price" id="price"
								placeholder="100" required>
							<span class="filter-price__span">₽</span>

							<span class="filter-price__span">до</span>
							<input class="filter-price__btn filter-price__to" type="val" name="price" id="price"
								placeholder="1000" required>
							<span class="filter-price__span">₽</span>
						</div>

						<div class="filter-price__scale">
							<input class="filter-price__input" type="text" data-min="100" data-max="1000" data-form="200"
								data-to="1000">
							<label for="priсe" aria-label="Выбор суммы"></label>
						</div>
					</form>
				</div>
			</div>



			<div class="catalog__content">
				<ul class="catalog__popular popular__inner">
					<li class="popular__items mix pizza">
						<article class="product-card">
							<img class="product-card__img" src="images/popular/photo-1.svg" width="140" height="140"
								alt=" фото,чизбургер с листьями салата">
							<h3 class="product-card__text">Чизбургер с листьями салата</h3>
							<span class="product-card__price">160 pуб</span>
							<button class="button" type="button">В корзину</button>
						</article>
					</li>

					<li class="popular__items mix burger">
						<article class="product-card">
							<img class="product-card__img" src="images/popular/photo-2.svg" width="140" height="140"
								alt=" фото,бифбургер">
							<h3 class="product-card__text">Бифбургер</h3>
							<span class="product-card__price">190 pуб</span>
							<button class="button" type="button">В корзину</button>
						</article>
					</li>

					<li class="popular__items mix dish">
						<article class="product-card">
							<img class="product-card__img" src="images/popular/photo-3.svg" width="140" height="140"
								alt="фото,королевский чизбургер">
							<h3 class="product-card__text">Королевский чизбургер</h3>
							<span class="product-card__price">260 pуб</span>
							<button class="button" type="button">В корзину</button>
						</article>
					</li>

					<li class="popular__items mix asia">
						<article class="product-card">
							<img class="product-card__img" src="images/popular/photo-4.svg" width="140" height="140"
								alt="фото,черный гамбургер">
							<h3 class="product-card__text">Черный гамбургер</h3>
							<span class="product-card__price">199 pуб</span>
							<button class="button" type="button">В корзину</button>
						</article>
					</li>

					<li class="popular__items mix sandwich">
						<article class="product-card">
							<img class="product-card__img" src="images/popular/photo-1.svg" width="140" height="140"
								alt="фото,чизбургер с листьями салата">
							<h3 class="product-card__text">Чизбургер с листьями салата</h3>
							<span class="product-card__price">160 pуб</span>
							<button class="button" type="button">В корзину</button>
						</article>
					</li>

					<li class="popular__items mix dish">
						<article class="product-card">
							<img class="product-card__img" src='images/popular/photo-2.svg' width="140" height="140"
								alt="фото,бифбургер">
							<h3 class="product-card__text">Бифбургер</h3>
							<span class="product-card__price">190 pуб</span>
							<button class="button" type="button">В корзину</button>
						</article>
					</li>

					<li class="popular__items mix asia">
						<article class="product-card">
							<img class="product-card__img" src="images/popular/photo-3.svg" width="140" height="140"
								alt="фото, королевский чизбургер">
							<h3 class="product-card__text">Королевский чизбургер</h3>
							<span class="product-card__price">260 pуб</span>
							<button class="button" type="button">В корзину</button>
						</article>
					</li>
					<li class="popular__items mix sandwich">
						<article class="product-card">
							<img class="product-card__img" src="images/popular/photo-4.svg" width="140" height="140"
								alt="фото,черный гамбургер">
							<h3 class="product-card__text">Черный гамбургер</h3>
							<span class="product-card__price">199 pуб</span>
							<button class="button" type="button">В корзину</button>
						</article>
					</li>



					<li class="popular__items mix sandwich">
						<article class="product-card">
							<img class="product-card__img" src="images/popular/photo-4.svg" width="140" height="140"
								alt="фото,черный гамбургер">
							<h3 class="product-card__text">Черный гамбургер</h3>
							<span class="product-card__price">199 pуб</span>
							<button class="button" type="button">В корзину</button>
						</article>
					</li>

					<li class="popular__items mix sandwich">
						<article class="product-card">
							<img class="product-card__img" src="images/popular/photo-4.svg" width="140" height="140"
								alt="фото,черный гамбургер">
							<h3 class="product-card__text">Черный гамбургер</h3>
							<span class="product-card__price">199 pуб</span>
							<button class="button" type="button">В корзину</button>
						</article>
					</li>

					<li class="popular__items mix sandwich">
						<article class="product-card">
							<img class="product-card__img" src="images/popular/photo-4.svg" width="140" height="140"
								alt="фото,черный гамбургер">
							<h3 class="product-card__text">Черный гамбургер</h3>
							<span class="product-card__price">199 pуб</span>
							<button class="button" type="button">В корзину</button>
						</article>
					</li>
					<li class="popular__items mix sandwich">
						<article class="product-card">
							<img class="product-card__img" src="images/popular/photo-4.svg" width="140" height="140"
								alt="фото,черный гамбургер">
							<h3 class="product-card__text">Черный гамбургер</h3>
							<span class="product-card__price">199 pуб</span>
							<button class="button" type="button">В корзину</button>
						</article>
					</li>
				</ul>

				<div class="pagination">
					<ul class="pagination-list">
						<li class="pagination-item">
							<a class="pagination-arrows pagination-arrows--prev" href="#"></a>
						</li>
						<li class="pagination-item">
							<a class="pagination-link--active" href="#">1</a>
						</li>
						<li class="pagination-item">
							<a class="pagination-link" href="#">2</a>
						</li>
						
						<li class="pagination-item">
						<span class="pagination-span">...</span>
					</li>
						<li class="pagination-item">
							<a class="pagination-link" href="#">9</a>
						</li>
						<li class="pagination-item">
							<a class="pagination-link" href="#">10</a>
						</li>
						<li class="pagination-item">
							<a class="pagination-arrows pagination-arrows--next" href="#"></a>
						</li>
					</ul>
				</div>

			</div>
		</div>

</section>