<section class="stocks">
	<div class="container">
		<h3 class="stocks__title title">Акции и скидки</h3>
		<div class="stocks__inner">

			<ul class="restaurants__items">

				<li class="restaurants__item">
					<article class="product-item">
						<img class="product-item__img" src="images/top-restaurants/McDonald`s.jpg" width="370" height="300"
							alt="Пицца Блейз">
						<div class="product-item__text">
							<p>Скидка 50% на вторую пиццу</p>
						</div>
					</article>
				</li>

				<li class="restaurants__item">
					<article class="product-item">
						<img class="product-item__img" src="images/top-restaurants/KFC.jpg" width="370" height="300"
							alt="Пицца Блейз">
						<div class="product-item__text">
							<p>Картошечка из KFC даром при заказе бургера</p>
						</div>
					</article>
				</li>

				<li class="restaurants__item">
					<article class="product-item">
						<img class="product-item__img" src="images/top-restaurants/Star-Burgers.jpg" width="370" height="300"
							alt="Пицца Блейз">
						<div class="product-item__text">
							<p>Чёрные бургеры на чёрный день </p>
						</div>
					</article>
				</li>
			</ul>
		</div>
	</div>
</section>