.delivery {
	&__inner {
		@extend %position-evenly;

		@include max-width($desktop) {
			position: relative;
			justify-content: flex-end;
			
			
		
			&::before {
				content: "";
				width: 315px;
				height: 455px;
				left:50px;
				position: absolute;
				background-image: url('../images/delivery/delivery.png');
				background-repeat: no-repeat;
				background-size: contain;
				z-index: -1;

				@include max-width($tablet){
					left:0px;
				}
			
			

				@include max-width($mobile) {
					width: 349px;
					height: 462px;
						opacity: 0.2;
						z-index: -1;
				}
			}
		}
	}

	&__image {
		width: 440px;
		height: 585px;
		margin-right: 50px;
		@extend %background;

		@include max-width($desktop) {
			display: none;
		}
	}

	&__content {
		max-width: 470px;
		width: 100%;
		margin-bottom: 10px;

		@include max-width($tablet){
			max-width: 420px;
		}
		@include max-width($mobile){
			max-width: 348px;
		}
	}

	&__title {
		max-width: 470px;
		margin-bottom: 30px;
		text-align: left;
	}

	&__text {
		margin-bottom: 30px;
		word-wrap: break-word;
		@include line-clamp(20, 1.5, 5);

		@include max-width($tablet){
			font-size:18px ;
		}

		@include max-width($mobile) {
			font-size: 16px;
		}
	}

	&__list {
		margin-bottom: 30px;
	}

	&__item {
		font-size: 24px;
		padding-left: 65px;
		position: relative;

		@include max-width($tablet){
			font-size:20px ;
		}
		@include max-width($mobile) {
			font-size: 18px;
		}

		&:not(:last-child) {
			margin-bottom: 20px;

			@include max-width($mobile) {
				margin-bottom: 18px;
			}
		}

		&::before {
			content: "";
			position: absolute;
			left: 0;
			width: 32px;
			height: 33px;
		}

		&--timer {
			&::before {
				background-image: url('../images/delivery/delivery-timer.svg');
				width: 34px;
			}
		}

		&--moto {
			&::before {
				background-image: url('../images/delivery/delivery-moto.svg');
			}
		}

		&--resturent {
			&::before {
				background-image: url('../images/delivery/delivery-resturent.svg');
			}
		}
	}

	&__order {
		padding: 12px 32px;
		font-size: 18px;
	}
}